.subtitle {
    font-weight: 600;
    font-size: 17px;
    color: var(--object-white);
    margin-bottom: 10px;
}

.buttons {
    background: var(--second-bg);
    border-radius: 16px 16px 29px 29px;
    padding: 12px 16px;
}