.short {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: var(--object-white);
}

.full {
    font-weight: 500;
    font-size: 13px;
    line-height: 125%;
    color: var(--object-white);
    white-space: normal;
    word-break: break-word;
}