.secLabel {
	font-weight: 600;
	font-size: 15px;
	line-height: 125%;
	color: #8a8989;
}

.label {
	box-sizing: border-box;
}

.full {
	width: 100%;
}

/* Hide scrollbar for VirtualVariantSelection */
:global(.ReactVirtualized__List) {
	scrollbar-width: none !important; /* Firefox */
	-ms-overflow-style: none !important; /* Internet Explorer 10+ */
}

:global(.ReactVirtualized__List::-webkit-scrollbar) {
	display: none !important; /* WebKit */
}
