.listItem {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--text-secondary);
}

.number {
    font-weight: 500;
    font-size: 17px;
    color: var(--object-secondary-white);
}