.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: white;
	padding: 11px;
	border-radius: 16px;
	position: relative;
	width: 100%;
	height: 100%;
}

.avatarWrapper {
	position: relative;
	margin-bottom: 10px;
}

.avatar {
	border-radius: 50%;
	object-fit: cover;
	width: 150px;
	height: 150px;
	transition:
		transform 0.2s ease,
		box-shadow 0.2s ease;
	cursor: pointer;
}

.avatar:hover {
	transform: scale(1.05);
	box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
}

.statusDot {
	position: absolute;
	bottom: 1px;
	right: 20px;
	width: 20px;
	height: 20px;
	background-color: #84dcc6;
	border-radius: 50%;
	border: 4px solid #111;
}

.info {
	flex-grow: 1;
}

.nameRow {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 18px;
	font-weight: bold;
}

.name {
	white-space: nowrap;
}

.meta {
	font-weight: 600;
	font-size: 17px;
	line-height: 125%;
	text-align: center;
	color: var(--object-secondary-white);
}

.location,
.langs {
	font-weight: 500;
	font-size: 13px;
	line-height: 125%;
	color: var(--object-secondary-white);
}

.infoIcon {
	position: absolute;
	top: 12px;
	right: 12px;
	color: #666;
	cursor: pointer;
}
