.button {
    border-radius: 12px;
    padding: 0px 20px;
    height: 48px;
    max-width: 300px;
    width: 100%;
    cursor: pointer;
    transition: 0.3s ease;
}

.button:hover {
    box-shadow: 0 -16px 64px 0 rgba(98, 75, 255, 0.6), inset 0 -1px 4px 0 rgba(0, 0, 0, 0.25);
}

.primary {
    background: var(--color-accent);
}

.next {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: var(--color-accent);
}
.accept {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: var(--color-accent);
}
.secondary {
    background: var(--third-bg);
}

.large {
    max-width: 100%;
    width: 100%;
}